<title>Synthesis Messages</title><table width=100%>
<tr><td align=LEFT cellspacing=0 cellpadding=0><b>Synthesis Messages</b></td><td><b>周三 6月 20 19:51:01 2018</b></td></tr></table><hr><br><table border cellspacing='0' cellpadding='0'><tr bgcolor='#DDDDDD'><td> </td><td>Synthesis Messages - Errors, Warnings, and Infos</td><td>New</td></tr>
<tr><td>ERROR&nbsp;</td><td>Xst:528 - Multi-source in Unit &lt;XCVR_TOP&gt; on signal &lt;tied_to_ground_i&gt;; this signal is connected to multiple drivers.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:685 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/frame_gen.vhd" Line 9: Overwriting existing primary unit frame_gen</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:685 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/frame_check.vhd" Line 9: Overwriting existing primary unit frame_check</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:946 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" Line 818: Actual for formal port ceb is neither a static name nor a globally static expression</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:871 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" Line 82: Using initial value "0000" for tx_ser_buf since it is never assigned</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:1127 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" Line 505: Assignment to rx_ser_buf ignored, since the identifier is never used</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:1127 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12.vhd" Line 474: Assignment to tied_to_vcc_i ignored, since the identifier is never used</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:1127 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12_gtx.vhd" Line 444: Assignment to rxchariscomma_float_i ignored, since the identifier is never used</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:1127 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12_gtx.vhd" Line 446: Assignment to rxcharisk_float_i ignored, since the identifier is never used</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:1127 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12_gtx.vhd" Line 449: Assignment to rxdisperr_float_i ignored, since the identifier is never used</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:1127 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12_gtx.vhd" Line 451: Assignment to rxnotintable_float_i ignored, since the identifier is never used</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:89 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" Line 473: &lt;ibufds_gtxe1&gt; remains a black-box since it has no binding entity.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:89 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" Line 183: &lt;bufg&gt; remains a black-box since it has no binding entity.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:634 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" Line 87: Net &lt;rx_err_detec_ch[3][1]&gt; does not have a driver.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>HDLCompiler:634 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" Line 164: Net &lt;channel_bond_sync[3]&gt; does not have a driver.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:647 - Input &lt;TX_para_external_ch&lt;3&gt;&gt; is never used. This port will be preserved and left unconnected if it belongs to a top-level block or it belongs to a sub-block and the hierarchy of this sub-block is preserved.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:647 - Input &lt;TX_para_external_ch&lt;2&gt;&gt; is never used. This port will be preserved and left unconnected if it belongs to a top-level block or it belongs to a sub-block and the hierarchy of this sub-block is preserved.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:647 - Input &lt;TX_para_external_ch&lt;1&gt;&gt; is never used. This port will be preserved and left unconnected if it belongs to a top-level block or it belongs to a sub-block and the hierarchy of this sub-block is preserved.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:647 - Input &lt;TX_para_external_ch&lt;0&gt;&gt; is never used. This port will be preserved and left unconnected if it belongs to a top-level block or it belongs to a sub-block and the hierarchy of this sub-block is preserved.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;RX_para_external_ch&lt;3&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;RX_para_external_ch&lt;2&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;RX_para_external_ch&lt;1&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;RX_para_external_ch&lt;0&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;TX_para_external_clk_ch&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;RX_para_external_clk_ch&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;tx_traffic_ready_ext_ch&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;rx_traffic_ready_ext_ch&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;rx_err_detec_ch&lt;3&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;rx_err_detec_ch&lt;2&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;rx_err_detec_ch&lt;1&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;rx_err_detec_ch&lt;0&gt;&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:653 - Signal &lt;channel_bond_sync&gt; is used but never assigned. This sourceless signal will be automatically connected to value GND.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:647 - Input &lt;RX_D&gt; is never used. This port will be preserved and left unconnected if it belongs to a top-level block or it belongs to a sub-block and the hierarchy of this sub-block is preserved.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:647 - Input &lt;rx_sync_status&gt; is never used. This port will be preserved and left unconnected if it belongs to a top-level block or it belongs to a sub-block and the hierarchy of this sub-block is preserved.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:647 - Input &lt;rx_pattern_detected&gt; is never used. This port will be preserved and left unconnected if it belongs to a top-level block or it belongs to a sub-block and the hierarchy of this sub-block is preserved.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:1293 - FF/Latch &lt;Tx_K_r_1&gt; has a constant value of 0 in block &lt;generate_traffic_loop[0].traffic&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:1293 - FF/Latch &lt;Tx_K_r_1&gt; has a constant value of 0 in block &lt;generate_traffic_loop[1].traffic&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:1293 - FF/Latch &lt;Tx_K_r_1&gt; has a constant value of 0 in block &lt;generate_traffic_loop[2].traffic&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:1293 - FF/Latch &lt;Tx_K_r_1&gt; has a constant value of 0 in block &lt;generate_traffic_loop[3].traffic&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>WARNING&nbsp;</td><td>Xst:1293 - FF/Latch &lt;Tx_K_r_1&gt; has a constant value of 0 in block &lt;traffic&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_RXCHARISCOMMA_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_RXNOTINTABLE_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_RXCHBONDO_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_RXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_TXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_RXCHARISCOMMA_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_RXNOTINTABLE_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_RXCHBONDO_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_RXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_TXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_RXCHARISCOMMA_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_RXNOTINTABLE_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_RXCHBONDO_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_RXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_TXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_RXCHARISCOMMA_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_RXNOTINTABLE_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_RXCHBONDO_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_RXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_TXBUFSTATUS_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_RXCHANBONDSEQ_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_RXCHANISALIGNED_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX0_RXCHANREALIGN_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_RXCHANBONDSEQ_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_RXCHANISALIGNED_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX1_RXCHANREALIGN_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_RXCHANBONDSEQ_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_RXCHANISALIGNED_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX2_RXCHANREALIGN_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_RXCHANBONDSEQ_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_RXCHANISALIGNED_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 535: Output port &lt;GTX3_RXCHANREALIGN_OUT&gt; of the instance &lt;v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 813: Output port &lt;ODIV2&gt; of the instance &lt;q1_clk0_refclk_ibufds_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 875: Output port &lt;Lane_up_out&gt; of the instance &lt;generate_traffic_loop[0].traffic&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 875: Output port &lt;Lane_up_out&gt; of the instance &lt;generate_traffic_loop[1].traffic&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 875: Output port &lt;Lane_up_out&gt; of the instance &lt;generate_traffic_loop[2].traffic&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/source_code/XCVR_8B10B_interconnect.vhd" line 875: Output port &lt;Lane_up_out&gt; of the instance &lt;generate_traffic_loop[3].traffic&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12.vhd" line 491: Output port &lt;TXPLLLKDET_OUT&gt; of the instance &lt;gtx0_v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12.vhd" line 577: Output port &lt;TXPLLLKDET_OUT&gt; of the instance &lt;gtx1_v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12.vhd" line 663: Output port &lt;TXPLLLKDET_OUT&gt; of the instance &lt;gtx2_v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:3210 - "/media/dewei_b1409/WorkDisk/WorkSpace/BelleII/MyCode/Xilinx/minBelleIIvt6/ipcore_dir/v6_gtxwizard_v1_12.vhd" line 749: Output port &lt;TXPLLLKDET_OUT&gt; of the instance &lt;gtx3_v6_gtxwizard_v1_12_i&gt; is unconnected or connected to loadless signal.</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:1901 - Instance U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[0].u_ramb36/U_RAMB36 in unit U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[0].u_ramb36/U_RAMB36 of type RAMB36 has been replaced by RAMB36E1</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:1901 - Instance U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[1].u_ramb36/U_RAMB36 in unit U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[1].u_ramb36/U_RAMB36 of type RAMB36 has been replaced by RAMB36E1</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:1901 - Instance U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[2].u_ramb36/U_RAMB36 in unit U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[2].u_ramb36/U_RAMB36 of type RAMB36 has been replaced by RAMB36E1</td><td>&nbsp;</td></tr>
<tr><td>INFO&nbsp;</td><td>Xst:1901 - Instance U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[3].u_ramb36/U_RAMB36 in unit U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_V6.U_CS_BRAM_CASCADE_V6/I_DEPTH_LTEQ_32K.U_SBRAM_0/I_B36KGT0.G_RAMB36[3].u_ramb36/U_RAMB36 of type RAMB36 has been replaced by RAMB36E1</td><td>&nbsp;</td></tr></